<%- include('partials/header') %>


  <main id="main">   
    <div class="success-main container">
        <p>Do you want to initiate payment?</p>
        <script src="https://js.instamojo.com/v1/checkout.js"></script>
        <script>
          function onButtonClick() {
            Instamojo.open('https://test.instamojo.com/@setstream_in');
          }
        </script>   
        <button onclick="onButtonClick()">
          Open Instapay
        </button>
        <br>
        <br>
        <p style="color: red;">Note: Returning on this stage will cancel your current order.</p>
    </div>
  </main><!-- End #main -->

  <style>
    .success-main{
      text-align:center;
      margin-top:12%;
      border:1px solid #000;
      padding:25px
    }

    @media (max-width: 800px) {
      .success-main{
        margin-top: 200px;
      }
    }
  </style>

<%- include('partials/footer') %>