<%- include('partials/header') %>

<div class="container" style="padding-top: 150px;">

    <h1 class="display-6 center" style="text-decoration: underline; font-weight: 550;">MARKETING KIT DETAILS</h1>
    <br>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="/assets/images/product-image.png" alt="" class="default-img img-fluid image-show">
        </div>
        <div class="col-md-6 col-sm-12 center product-body">
            <h1 class="display-5 center">BIZQUESTA MARKETING AND BRANDING KIT</h1>
            <br>
            <p class="center">Passive Income 10% <br>
                Affiliate Income Rs 200 <br>
                24/7 Support <br> </p>
            <br>
                <h1 class="display-5 center"> <strike style="color: red;">₹1,999</strike>  ₹300</h1>
            <br>
            <a href="/signup" class="btn btn-buy" style="background: #ff695f; font-size: xx-large;">Buy now</a>
        </div>
    </div>
    <br>
    <br>
    <h1 class="display-6 center" style="text-decoration: underline; font-weight: 550;">REVIEWS</h1>
    <br>

    <div class="center" style="border: 1px solid black; border-radius: 25px; padding: 10px; 
    box-shadow: 5px 5px #ff695f;">
        <p>Aksh said: "This was an life changing experience!"</p>
    </div>
    <br>
    <div class="center" style="border: 1px solid black; border-radius: 25px; padding: 10px; 
    box-shadow: 5px 5px #ff695f;">
        <p>Rahul said: "Amazing Community and full of opportunities."</p>
    </div>
    <br>
    <div class="center" style="border: 1px solid black; border-radius: 25px; padding: 10px; 
    box-shadow: 5px 5px #ff695f;">
        <p>Vikas said: "Useful knowledge was provided in the videos."</p>
    </div>

</div>

<%- include('partials/footer') %>